html, body {
    margin: 0;
    padding: 0;
}

.img-sizing {
    height: 200px;
    width: 200px;
}

.background {
    background: black;
}

.card-background {
    background: mediumorchid;
}

.user-select {
    user-select: none;
}

.img-pointer {
    cursor: pointer;
}

.card-border {
    border-color: #DCDCDC;
    border-width: thick;
}

#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    color: black;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

#toast #desc {
    color: whitesmoke;
    text-shadow: .75px .75px;
    padding: 16px;
    /* overflow: hidden; */
    white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}