html, body {
    margin: 0;
    padding: 0;
}

.img-sizing {
    height: 200px;
    width: 200px;
}

.background {
    background: black;
}

.card-background {
    background: greenyellow;
}

.user-select {
    user-select: none;
}

.img-pointer {
    cursor: pointer;
}